h1{
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

p{
    font-family: Verdana;
    padding: 4px;
}

main{
    display: block;
    background-color: blanchedalmond;
    padding: 8px; 
    border-radius: 2% ;
}

div{
    padding: 5px;
    margin: 1px;
}

h3{
    font-size: 18px;
    margin-top: 4px;
}

.bg-1{
    background-color: red;
    border-style: none;
    border-radius: 4px;   
    margin-right: 4px; 
}

.bg-2{
    background-color: aqua;
    border-style: none;
    border-radius: 4px;
    margin-right: 4px;
}

.bg-3{
    background-color: greenyellow;
    border-style: none;
    border-radius: 4px;
    margin-bottom: 12px;
    
}

input[type=text]{
  width: 25%;
  height: 50px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: burlywood ;   
}


input[type=number]{
    width: 25%;
    height: 50px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: burlywood;   
  }

label{
    padding: 4px;
}




